.App {
  text-align: center;
}

.profile-picture{
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h5 {
  font-size: 15;
}

.main-div {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 1%;
  display: flex;
  flex-direction: row;
}
.col-card-perfil{
  width: 20%;
  height: 100%;
  padding: 2;
  top: 0;
  left: 0;
  padding: 10;
  background-color: #338888;
  margin-right: 10px; 
  border-radius: 30px;
}
.itens-profile-card{
  background-color: antiquewhite;
  border-radius: 30px;
}
.col-center-perfil{

  padding: 2;
  width: 40%;
  height: 100%;
  background-color: #33ffff;
}

.col-misc-perfil{

  padding: 2;
  width:20%;
  height: 100%;
  background-color: #333333;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
